---
import DatabuddyLayout from "../layouts/DatabuddyLayout.astro";
import { Image } from "astro:assets";
import imageOfPerth from "../assets/imageofperth.png";
---

<DatabuddyLayout title="salt - about" description="About salt">
  <main class="page-wrap">
    <section class="hero">
      <div class="container">
        <div
          class="hero__card glass-strong card anim-fade-scale anim-base"
          style="--delay:140ms"
        >
          <h1 class="title anim-fade-scale anim-base" style="--delay:220ms">
            about me
          </h1>
          <p class="body-text anim-fade anim-base" style="--delay:260ms">
            hey there! i'm salt, a software dev from australia. i love coding,
            design, and public transit. i made this website using astro, and
            it's hosted on vercel.
          </p>
          <p class="body-text anim-fade anim-base" style="--delay:300ms">
            i love helping people out and making random stuff. if you want to dm
            me, check out my <a href="/links">links page.</a>
          </p>
          <p class="body-text anim-fade anim-base" style="--delay:340ms">
            i enjoy playing minecraft, roblox, kerbal space program and other
            friendslop games. i also enjoy watching and making youtube videos.
          </p>
          <Image
            src={imageOfPerth}
            alt="Skyline view of Perth, Australia"
            class="about-image"
          />
        </div>
      </div>
    </section>
  </main>
</DatabuddyLayout>
