---
import DatabuddyLayout from "../layouts/DatabuddyLayout.astro";
import { Image } from "astro:assets";
import imageOfPerth from "../assets/imageofperth.png";
---

<DatabuddyLayout title="salt - about" description="About salt">
  <main class="page-wrap">
    <div class="container">
      <div class="terminal">
        <div class="terminal-line">
          <span class="line-number">1</span>
          <span class="line-content md-h1"># about me</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">2</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">3</span>
          <span class="line-content"
            >hiya, i'm salt. a software dev based in hell(australia).</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">4</span>
          <span class="line-content"
            >i love writing code, design(occasionally), and public transit.</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">5</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">6</span>
          <span class="line-content md-h2">## what i do</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">7</span>
          <span class="line-content"
            >i currently work on <a href="https://tryportal.app">portal</a>, an
            open-source slack alternative.</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">8</span>
          <span class="line-content"
            >i'm also currently working on a stealth startup. i also enjoy
            making stupid side projects that lead to nowhere.</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">9</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">10</span>
          <span class="line-content md-h2">## hobbies</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">11</span>
          <span class="line-content"
            >i play friendslop games w/ my friends sometimes.</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">12</span>
          <span class="line-content"
            >i also enjoy watching and making youtube videos(also sometimes).</span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">13</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">14</span>
          <span class="line-content"
            >other than that, i just make random bs on the internet :)</span
          >
        </div>
      </div>

      <div class="about-image-container">
        <Image
          src={imageOfPerth}
          alt="Skyline view of Perth, Australia"
          width={300}
          class="about-image"
        />
      </div>
    </div>
  </main>
</DatabuddyLayout>
