---
import DatabuddyLayout from "../layouts/DatabuddyLayout.astro";
import BlogPostList from "../components/BlogPostList.astro";
---

<DatabuddyLayout title="salt - blog" description="salt's blog posts">
  <main class="page-wrap">
    <div class="container">
      <div class="terminal">
        <div class="terminal-line">
          <span class="line-number">1</span>
          <span class="line-content md-h1"># blog</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">2</span>
          <span class="line-content"
            >thoughts, ideas, and things i'm learning</span
          >
        </div>
      </div>

      <BlogPostList />
    </div>
  </main>
</DatabuddyLayout>
