---
import DatabuddyLayout from "../layouts/DatabuddyLayout.astro";
---

<DatabuddyLayout title="salt" description="salt's site">
  <main class="page-wrap">
    <div class="container">
      <div class="terminal">
        <div class="terminal-line">
          <span class="line-number">1</span>
          <span class="line-content md-h1"># hello, world</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">2</span>
          <span class="line-content md-h2">## i'm salt</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">3</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">4</span>
          <span class="line-content md-h2">## about me</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">5</span>
          <span class="line-content">i'm just a nerdy guy who likes</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">6</span>
          <span class="line-content">software, tech, and design</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">7</span>
          <span class="line-content">&nbsp;</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">8</span>
          <span class="line-content md-h2">## contact</span>
        </div>
        <div class="terminal-line">
          <span class="line-number">9</span>
          <span class="line-content"
            >email me: <a href="mailto:saltjsx@gmail.com">saltjsx@gmail.com</a
            ></span
          >
        </div>
        <div class="terminal-line">
          <span class="line-number">10</span>
          <span class="line-content"
            >or check out my <a href="/links">links</a></span
          >
        </div>
      </div>
    </div>
  </main>
</DatabuddyLayout>
